* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

:root {
  --darkgrey: rgb(44, 44, 48);
  --lightteal: rgb(94, 139, 153);
  --lightestteal: rgb(155, 196, 209);
  --lightgrey: rgb(86, 93, 99);
}

h1 {
  font-size: 60px;
}

.modal {
  margin: 20px;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: black;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: black;
}

.modal-content {
  position: relative;
  background-color: var(--darkgrey);
  margin: auto;
  padding: 0;
  border: 5px var(--lightgrey);
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

.submit-btn {
  text-align: center;
  background-color: var(--lightteal);
  padding: 10px;
  color: var(--darkgrey);
}

.submit-btn:hover {
  background-color: var(--lightestteal);
  color: var(--lightgrey);
}

/* hides modal on page launch */
.hide {
  display: none
}

.close {
  position: relative;
  display: block;
  width: 100%;
  text-align: right;
  font-size: 25px;
}

header {
  margin-bottom: 30px;
	padding: 20px;
}

.athe {
  color: var(--lightteal);
}

#myBtn {
  float: right;
  text-align: center;
  background-color: var(--lightteal);
  padding: 10px;
  color: var(--darkgrey);
}

#myBtn:hover {
  background-color: var(--lightestteal);
  color: var(--lightgrey);
}

body {
  background-color: var(--darkgrey);
  color: white;
}

/* The sidebar menu */
.sidenav {
  height: 100%;
  width: 200px;
  position: absolute;
  left: 0;
  background-color: rgb(94, 139, 153);
  overflow-x: hidden;
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

/* Style page content */
main {
  margin-left: 200px;
  padding: 0px 10px;
}

.front-page-img {
  display: flex;
  width: 100%;
  object-fit: cover;
  height: 400px;
}

@keyframes animatetop {
  from {
    top: -500px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
    width: 100px;
  }

  .sidenav a {
    font-size: 18px;
  }

  main {
    margin-left: 100px;
  }
}
