h1{
  font-size: 60px;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: black;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: black;
}

.modal-content {
  position: relative;
  background-color: black;
  margin: auto;
  padding: 0;
  border: 1px solid white;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}
.close{
  position: relative;
  display: block;
  width: 100%;
  text-align: right;
  font-size: 25px;
}

@keyframes animatetop {
  from {
    top: -500px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

body {
  background-color : black;
  color: white;
}
